html, body {
    margin: 0;
    padding: 0;
    background-color: #006Af9;
    color: black;
}

@font-face {
    font-family: arcadeclassic;
    src: url(arcadeclassic.ttf);
}

body #divPlayers {
    width: 100vw;
    height: 30px;
    background-color: #006Af9;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 115px;
}

.container h2 {
    position: relative;
    top: 405px;
}

.container .instructions {
    position: relative;
    top: 370px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .canvas#mouseEventCanvas {
    width: 100vw;
    height: 480px;
}

.container .pong-title {
    font-size: 40px;
    color: black;
    position: relative;
    display: flex;
    bottom: 125px;
}

.container .instructions h3 {
    padding: 5px 5px 5px 20px;
    margin: 15px 0 0 0;
}

.container .instructions ul {
    padding-left: 20px;
    margin: 10px 10px 30px 0;

}

.container .instructions ul li {
    padding: 5px 0;
}

.container .multiplayer {
    display: flex;
    width: 688px;
    height: 40px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 370px;
}

.container .multiplayer .multiplayer-item {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    text-align: center;
}

.container .multiplayer .invite-overlay {
    border: 0; 
    background-color: #2d7ae0; 
    display: flex;
    align-items: center;
}

.container #gameCanvas {
    box-shadow: 0 10px 30px 0 #1B02A3, 0 -10px 30px 0 #1B02A3;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #2d7ae0;
    border: 2px solid #2d7ae0;
    border-radius: 0.2em;
    color: #2d7ae0;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px 0;
    padding: 0.9em 1.8em;
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: black;
    outline: 0;
}

.copyBtn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #5319FB;
    border-radius: 0px 7px 7px 0px;
    color: #5319FB;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px 0;
    padding: 0.6em 1.7em;
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.copyBtn:hover, .copyBtn:focus {
    color: black;
    outline: 0;
}

.third {
    border-color: #4336ff;
    color: black;
    box-shadow: 0 0 40px 40px #4336ff inset, 0 0 0 0 #4336ff;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #1B02A3 inset, 0 0 10px 1px #1B02A3;
}

.copyBtnStyle {
    border-color: #5319FB;
    color: black;
    box-shadow: 0 0 40px 40px #4336ff inset, 0 0 0 0 #4336ff;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.copyBtnStyle:hover {
    border-color: #1B02A3;
    box-shadow: 0 0 20px 0 #1B02A3 inset, 0 0 20px 1px #1B02A3
}

.invite-input {
    position: relative;
    width: 100%;
} /* necessary to give position: relative to parent. */

.container .multiplayer .invite-overlay {
    position: absolute;
    pointer-events: none;
    background-color: #2d7ae0;
    opacity: 1;
    left: 6px;
    right: -16px;
    top: 2px;
    bottom: 2px;
    border-radius: 5px 0px 0px 5px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 28px;
    transition:all .08s ease-in;
    display: flex;
    justify-content: center;
    margin: 0 6px;
    text-align: center;
}

.invite-input:hover .invite-overlay {
    opacity:0;
}

input[type="text"] {
    outline: none;
    display: flex;
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: black; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
}

.effect-1 {
    border: 0; 
    background-color: #2d7ae0; 
    padding: 7px 10px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
    border-radius: 7px 0px 0px 7px;
}

.multiplayer-item.effect-1 {
    height: 100%;
}